body {
    margin: 0;
    background-color: rgb(133, 192, 161);
    
  }
  

  
  .head,
  .left_arm,
  .torso,
  .right_arm,
  .left_leg,
  .right_leg {
    background-color: rgb(52, 132, 21);  
  }
  
  .head {
    width: 150px;
    margin: 0 auto;
    height: 150px;
    border-radius: 200px 200px 0 0;
    margin-bottom: 10px;
    position: relative;
  }
  
  .eyes {
    position: relative;
    top: 100px;
  }
  
  .left_eye,
  .right_eye {
    width: 20px;
    height: 20px;
    border-radius: 15px;
    background-color: rgb(16, 226, 237);
    display: inline-block;
    position: absolute;
    border: 5px solid rgb(255, 255, 255);
  }
  
  .left_eye {
    margin-left: 30px;
  }
  
  .right_eye {
    margin-left: 100px;
  }
  
  .upper_body {
    width: 300px;
    height: 150px;
    margin: 0 auto;
    display: flex;
    
  }
  
  .left_arm,
  .right_arm {
    width: 40px;
    height: 200px;
    border-radius: 100px;
    margin-top: 20px;
    border: 0px solid black;
    
  }
  
  .left_arm {
    margin-right: 10px;
  }
  .right_arm {
    margin-left: 10px;
  }
  
  .torso {
    width: 200px;
    height: 200px;
    border-radius: 0 0 50px 50px;
    transition: border-radius 1s;
   
  }
  
  .lower_body {
    width: 200px;
    height: 200px;
    margin: 0 auto;
  }
  
  .left_leg,
  .right_leg {
    width: 40px;
    height: 200px;
    border-radius: 0 0 100px 100px;
    display: inline-block;
    
    
  }
  
  .left_leg {
    margin-left: 45px;
  }
  
  .right_leg {
    margin-left: 30px;
    position: absolute;
  }
  
  .robots:hover .head {
    animation: movehead 2s infinite;
  }
  
  .robots:hover .torso {
    border-radius: 40%;
    animation: movetorso 2s infinite;
  }
  
  .robots:hover .left_arm {
    animation: moveleftarm 3s infinite;
  }
  
  .robots:hover .right_arm {
    animation: moverightarm 3s infinite;
  }
  
  .robots:hover .left_leg {
    animation: moveleftleg 3s infinite;
  }
  
  .robots:hover .right_leg {
    animation: moverightleg 3s infinite;
  }


  
  @keyframes movehead {
    0% {
      width: 200px;
    }
  
    25% {
      width: 300px;
    }
  
    50% {
      width: 200px;
    }
  
    75% {
      width: 300px;
    }
  
    100% {
      width: 200px;
    }
  }
  
  @keyframes moveleftarm {
    0% {
      transform: rotate(0deg);
      transform-origin: top center;
    }
  
    25% {
      transform: rotate(90deg);
      transform-origin: top center;
    }
  
    50% {
      transform: rotate(0deg);
      transform-origin: top center;
    }
  
    75% {
      transform: rotate(90deg);
      transform-origin: top center;
    }
  
    100% {
      transform: rotate(0deg);
      transform-origin: top center;
    }
  }
  
  @keyframes moverightarm {
    0% {
      transform: rotate(0deg);
      transform-origin: top center;
    }
  
    25% {
      transform: rotate(-90deg);
      transform-origin: top center;
    }
  
    50% {
      transform: rotate(0deg);
      transform-origin: top center;
    }
  
    75% {
      transform: rotate(-90deg);
      transform-origin: top center;
    }
  
    100% {
      transform: rotate(0deg);
      transform-origin: top center;
    }
  }
  
  @keyframes moveleftleg {
    0% {
      transform: rotate(0deg);
    }
  
    25% {
      transform: rotate(20deg);
    }
  
    50% {
      transform: rotate(0deg);
    }
  
    75% {
      transform: rotate(20deg);
    }
  
    100% {
      transform: rotate(0deg);
    }
  }
  
  @keyframes moverightleg {
    0% {
      transform: rotate(0deg);
    }
  
    25% {
      transform: rotate(-20deg);
    }
  
    50% {
      transform: rotate(0deg);
    }
  
    75% {
      transform: rotate(-20deg);
    }
  
    100% {
      transform: rotate(0deg);
    }
  }
  
  @keyframes movetorso {
    from {
      transform: rotate(0deg);
    }
  
    to {
      transform: rotate(360deg);
    }
  }